<side-menu (emitOffence)="setOffence($event)" (emitDefence)="setDefence($event)"></side-menu>

<div class="scroll-container">
    <ion-slides pager="true">
        <ion-slide *ngIf="Offence===null&&Defence===null">
            <status-block [type]="'Pick Class or Enemy'"></status-block>
        </ion-slide>
        <ion-slide *ngIf="Offence!==null">
            <status-block [type]="Offence"></status-block>
        </ion-slide>
        <ion-slide *ngIf="Defence!==null">
            <status-block [type]="Defence"></status-block>
        </ion-slide>
    </ion-slides>
</div>
