.menu-active{
  top: 0;
  left: 0;
  transition: 1000ms ease-in-out;
}

.menu-inactive{
  top: 0;
  left: -100%;
  transition: 1000ms ease-in-out;
}

.menu{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #72a4e8;
  z-index: 3;
}
