<!--menu container-->
<div [ngClass]="'menu ' + (menuActive?'menu-active':'menu-inactive')">
  <button type="button" (click)="menuToggle()">KLIK!!</button>
  <br>
  <div *ngFor="let Class of offenceList" (click)="selectOffence(Class.Type)">{{Class.Type}}</div>
  <br>
  <div *ngFor="let Enemy of defenceList" (click)="selectDefence(Enemy.Type)">{{Enemy.Type}}</div>
</div>

<!--button to activate menu, when not active-->
<button type="button" (click)="menuToggle()">KLIK!!</button>
