<div>
  <button><i class="fas fa-plus" (click)="increaseHealth()"></i></button>
  <button><i class="fas fa-plus" (click)="increaseAttack()"></i></button>
</div>
<ion-card>
    <div><i class="fas fa-heart"></i> : {{health}}</div>
    <div><i class="fas fa-fist-raised"></i> : {{attack}}</div>
    <ion-card-header>
        <ion-card-subtitle>Type</ion-card-subtitle>
        <ion-card-title>{{type}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
    </ion-card-content>
</ion-card>
<div>
  <button><i class="fas fa-minus" (click)="decreaseHealth()"></i></button>
  <button><i class="fas fa-minus" (click)="decreaseAttack()"></i></button>
</div>
